/* CONFIGURAÇÕES GERAIS */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  /* CORES PRINCIPAIS */
  --color-primary: #044d91;
  --color-primary-dark: #0a457a;
  --color-primary-alt: #0a4a85;
  --color-secondary: #1d7fda;

  /* CORES NEUTRAS */
  --color-white: #ffffff;
  --color-light: #f5f7fa;
  --color-gray: #9fa0a1;
  --color-border: #000000;

  /* DESTAQUE */
  --color-highlight: #00ffff;
}

* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  background-color: #044d91;
}
body {
  margin: 0px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
main {
  background-color: white;
  flex: 1;
  align-items: center;
  padding: 10px;
}
main * {
  margin: 0px;
}

/* HEADER E FOOTER */
.page {
  background-color: #044d91;
  display: flex;

  padding: 20px;
}

.footer {
  padding-top: 100px;
  background: linear-gradient(to top, #044d91, white 100%);
  flex-direction: column;
  color: white;
  width: 100%;
}
.footer .item {
  color: white;
  margin: 20px;
}

.header {
  width: 100%;
  align-items: center;
}

.page .item {
  font-family: "Inter";
  color: white;

  text-decoration: none;
}

.header .item {
  font-size: 1.5rem;
  padding: 10px;
  padding-bottom: 40px;
}

/* NAVBAR MOBILE */
.menu-nav {
  display: none;
}
/* NAVBAR */
.navbar {
  width: 100%;
}
.navbar .item {
  transition: font-size 0.5s;
}
.navbar li {
  display: inline-block;
  transition: display 0.5s;
}
.navbar a:hover {
  font-size: 2rem;
}
.navbar ul {
  height: 100%;
  list-style-type: none;
}
.copyright {
  align-self: flex-start;
}
/* =======================
   MISSÃO / VISÃO / VALORES
======================= */
.mission {
  display: flex;
  width: 100%;
  height: 400px; /* altura fixa */

  margin-top: 20rem;
  justify-content: space-around;
  box-shadow: var(--color-primary) 0px 0px 40px;
}

.mission * {
  font-family: "Inter";
  color: white;
  margin: 0px;
}

/* BOTÕES */
.object {
  display: grid;

  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;
  width: 50%;
  background-color: #1d7fda;
}
.row {
  grid-template-rows: 1fr;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  height: 100%;
  place-items: center;
}
.row:hover {
  background-color: #0a457a;
}
.object .row {
  transition: background-color, 1s;
}
.object .row.selected {
  background-color: #0a457a;
}
.mission h2 {
  grid-column-start: 3;
  cursor: pointer;
}
.arrow {
  font-size: 40px;

  cursor: pointer;
  grid-column-start: 5;
}

/* TEXTOS */
.mission-text {
  width: 50%;
  height: 100%;
  background-color: #0a457a;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Conteúdo das abas */
.mission-text .content {
  display: none;
  pointer-events: none;
}
.mission-text .content.selected {
  display: block;
  pointer-events: auto;
  animation: fade 0.3s ease-in-out;
}

/* Animação  */
@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* TITULOS /LOGO */
.logo {
  margin: 10px;
  width: 200px;
  height: 50px;
}
.title.main-title.hero {
  margin-bottom: 200px;
}
.title {
  font-family: "Noto Serif";
}
.title.main-title {
  margin-top: 200px;
  margin-bottom: 50px;
}
h1.main-title {
  font-weight: 200;
  font-size: 5rem;
}
h2.main-title {
  font-size: 4rem;
  font-weight: 150;
}

/* about */

.about {
  display: flex;
  width: 100%;
  justify-content: center;
  min-height: 600px;
  margin-top: 20rem;
  box-shadow: var(--color-primary) 0px 0px 40px;
}
.content {
  display: none;
}
.about-img {
  position: relative;
  width: 50%;
  background-image: url("../images/sunset-rice-farm-field-thailand.jpg");
  background-size: cover;
  background-position: center;
  align-items: center;
  padding-left: 40px;
  color: white;
  font-size: 2rem;
}
.about-img .gradient {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #0a4a85);
}
.about-text {
  width: 50%;
  background-color: #0a4a85;
  color: white;
  padding: 60px;
  display: flex;
  font-size: inherit;
  font-family: "Inter";
  flex-direction: column;
  justify-content: center;
}

/* FORM/FAQ */
.container {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.faq {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1em;
  gap: 50px;
}
form {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
form label {
  align-self: flex-start;
  font-family: "Inter";
  font-size: larger;
  font-weight: 600;
}

.inp-form {
  font-family: "Inter";
  padding: 10px;
  margin: 0px;
  width: 100%;
  border: 1px solid;
  border-radius: 8px;
  transition:
    border-color,
    box-shadow 0.2s;
  font-size: inherit;
}
.message {
  min-height: 10rem;
}
.faq input:hover,
.faq input:focus,
.faq textarea:hover,
.faq textarea:focus {
  outline: none;
  border-color: #044d91;
  box-shadow: 0 0 0 3px #044d91;
}
.btn-form {
  cursor: pointer;
  width: 100%;
  border: none;
  border-radius: 8px;
  padding: 10px;
  border: white solid 2px;
  background-color: #044d91;
  color: white;
  font-family: "Inter";
  font-weight: 600;
}
.addresses {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.mapa {
  width: 100%;
  height: 200px;
}

/* DROPDOWN */
.item-nav {
  display: none;
}
.dropdown-menu {
  position: absolute;
  left: 0;
  font-size: 1em;
  width: 100%;
  display: none;
  background-color: rgb(181, 184, 201);
}

.dropdown-menu {
  margin-top: 30px;
}
.dropdown-menu a {
  display: block;
}
.dropdown:hover .dropdown-menu {
  display: block;
  transition: display 0.3s;
}

/* Produtos */
.container.products {
  display: flex;
  flex-direction: row;
  gap: 10em;
}
.container.product {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-direction: row;
}

.prod-image {
  width: 35%;
  aspect-ratio: 1 / 1;
  border: black solid 5px;
  object-fit: cover;
  object-position: center;
}
.prod-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-description {
  width: 50%;
  gap: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.product-description h1 {
  font-size: 3em;
  width: 50%;
}
.product-description li {
  text-align: right;
  list-style-type: none;
}
.product-description * {
  text-align: end;
  font-family: "Inter";
}
#productColors {
  width: 70%;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.product-description p {
  text-align: justify;
  font-size: 1.2em;
}
/* clientes */

.clients {
  width: 1000px;
  margin: 40px auto;
  overflow: hidden;
}
.carousel-track {
  display: flex;
  gap: 1.5rem;

  animation: scroll 50s linear infinite;
}

.carousel-track:hover {
  animation-play-state: paused;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
/* cartões */
.card {
  display: flex;
  height: 5em;
  width: 5em;
  justify-content: center;
  align-items: center;
  border: 5px solid #0a457a;
  background-color: aqua;
  font-size: 3rem;
  text-align: center;
  transition:
    width 0.3s,
    height 0.3s;
  align-content: center;
  box-shadow: 0px 0px 10px #0a457a;
}
.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.products .card:hover {
  width: 6em;
  height: 6em;
}
hr {
  width: 80%;
  margin: 3rem;
}

/* pesquisa */
.search-form {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.search-input {
  border: 2px solid #9fa0a1;
  padding: 5px;
  border-radius: 10px;
}
.search-form .search-input:focus {
  outline: none;
  border-color: #044d91;
  box-shadow: 0 0 0 2px #044d91;
}
.search-form .search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

/*CATALOGO*/

.catalogue {
  padding: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter";
  text-decoration: none;
  color: #0a457a;
}
.card-link .card-name {
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 1.2em;
}
#productColors {
  display: flex;
  gap: 10px;
}
#productColors button {
  cursor: pointer;
  border: 2px solid #044d91;
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: "Inter";
  transition:
    background-color 0.3s,
    color 0.3s;
}
#productMeasures {
  margin: 10px;
  display: flex;
  gap: 10px;
}
#productMeasures button {
  cursor: pointer;
  border: 2px solid #044d91;
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: "Inter";
  transition:
    background-color 0.3s,
    color 0.3s;
}
#productMeasures button:hover,
#productColors button:hover {
  background-color: #044d91;
  color: white;
}

.card-name {
  text-decoration: none;
  margin-top: 10px;
}
.catalogue .card {
  display: flex;
  flex-direction: column;

  aspect-ratio: 1 / 1;
  cursor: pointer;
  margin-bottom: 20px;
  transition: transform 0.2s ease;
}

.catalogue .card:hover {
  transform: scale(1.05);
}
.card.selected .card-name {
  display: none;
}
.card.selected {
  width: 50%;
  height: auto;
}
/* MEDIA QUERIES */
/* @media screen and (max-width: 1250px) {
  html,
  body {
    overflow-x: hidden;
  }
  body p {
    font-size: 8px;
  }
  body h1 {
    font-size: 20px;
  }
  body h2 {
    font-size: 16px;
  }
  .logo {
    width: 110px;
    height: 30px;
  }
  .title.main-title {
    font-size: 2rem;
    margin-top: 100px;
    margin-bottom: 0px;
  }
  .navbar {
    width: 100%;
    font-size: 2em;
  }
  .footer {
    width: 100%;
  }
  hr {
    width: 80%;
  }
  .faq {
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 2em;
    padding: 20px;
  }
  .addresses {
    width: 100%;
    margin-top: 30px;
  }
  .mapa {
    height: 300px;
  }

  .copyright {
    align-self: flex-start;
    font-size: 1em;
  }
  .navbar {
    display: none;
  }
  .menu-nav.open {
    display: block;
    height: 100%;
  }

  .block-page {
    overflow: hidden;
  }
  .menu-nav .item {
    font-size: 18px;
  }
  .menu-nav {
    position: absolute;
    top: 60px;
    z-index: 1;

    cursor: pointer;
  }
  .perfil-section {
    margin-left: 20px;
  }
  .menu-nav ul {
    list-style-type: none;
    margin-right: 20px;
  }
  .item-nav {
    display: inline;
    margin: 0px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .item {
    padding-bottom: 10px;
  }
  .about-img {
    height: 300px;
  }
  .about-text {
    padding: 10px;
    box-sizing: border-box;
    height: 300px;
    min-height: auto;
  }
  .about-text p {
    font-size: 8px;
  }
  .about-text h2 {
    font-size: 16px;
  }
  .about {
    height: 300px;
    padding: 40px;
    min-height: fit-content;
  }
  .container .main-title {
    font-size: 20px;
  }
  .content {
    font-size: 8px;
  }
  .row h2 {
    font-size: 12px;
  }
  .arrow {
    font-size: 14px;
  }
  .mission {
    padding: 40px;
  }
  .mission-text {
    padding: 20px;
  }
  .content ul {
    padding: 10px;
  }

  .container.products {
    gap: 0.5em;
  }
  .card {
    height: 3em;
    width: 3em;
    font-size: 2rem;
  }

  .container.clients {
    width: 300px;
    overflow: hidden;
  }
  .ctt * {
    font-size: 18px;
  }
  .mapa {
    height: 200px;
    margin-bottom: 50px;
  }
  footer .container .main-title {
    font-size: 36px;
    color: #989898;
  }
  form {
    width: 80%;
    font-size: 12px;
  }
  .btn-form {
    font-size: 12px;
    width: 100px;
  }
} */
@media (min-width: 750px) and (max-width: 1250px) {
  html,
  body {
    overflow-x: hidden;
  }
  main {
    padding: 0px;
  }
  body p {
    font-size: 1.25rem;
    font-weight: 300;
  }
  body h1 {
    font-size: 4rem;
  }
  body h2 {
    font-size: 2rem;
  }
  body h3 {
    font-size: 1.5rem;
  }
  body ul {
    font-size: 1.25rem;
  }

  .logo {
    width: 170px;
    height: 50px;
  }
  .title.main-title.hero {
    font-size: 5rem;
  }
  .title.main-title {
    font-size: 3rem;
    margin-top: 100px;
    margin-bottom: 0px;
  }
  .navbar {
    width: 100%;
    font-size: 2em;
  }
  .footer {
    width: 100%;
  }
  hr {
    width: 80%;
  }
  .faq {
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 2em;
    padding: 20px;
  }
  .addresses {
    width: 100%;
    margin-top: 30px;
  }
  .mapa {
    height: 300px;
  }

  .copyright {
    align-self: flex-start;
    font-size: 1em;
  }
  .navbar {
    display: none;
  }
  .menu-nav.open {
    display: block;
    height: 100%;
  }

  .block-page {
    overflow: hidden;
  }
  .menu-nav .item {
    font-size: 2em;
  }
  .menu-nav {
    position: absolute;
    top: 75px;
    z-index: 1;

    cursor: pointer;
  }
  .perfil-section {
    margin-left: 20px;
  }
  .menu-nav ul {
    list-style-type: none;
    margin-right: 20px;
  }
  .item-nav {
    display: inline;
    margin: 0px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .item {
    padding-bottom: 10px;
  }
  .about-img {
    height: 500px;
  }
  .about-text {
    padding: 15px;
    box-sizing: border-box;
    height: 500px;
    min-height: auto;
  }

  .about {
    height: 600px;
    width: 100%;
    padding: 0px;
    margin-top: 5rem;
    min-height: fit-content;
  }
  .container .main-title {
    padding: 50px;
  }
  .content {
    font-size: 8px;
  }
  .row h2 {
    font-size: 1.5rem;
  }
  .arrow {
    font-size: 1.5rem;
  }
  .mission {
    padding: 0px;
    margin-top: 5rem;
  }
  .mission-text {
    padding: 20px;
  }
  .content ul {
    padding: 10px;
  }

  .container.products {
    gap: 0.5em;
    align-items: flex-start;
  }
  .card {
    height: 4em;
    width: 4em;
    font-size: 2rem;
    border: solid 2px;
  }
  .card:hover {
    height: inherit;
    width: inherit;
  }
  .card-name {
    font-size: inherit;
  }

  .container.products .card {
    text-align: center;
  }
  .card-name {
    width: 15rem;
  }

  .container.clients {
    width: 300px;
    overflow: hidden;
  }

  .ctt * {
    font-size: 18px;
  }
  .mapa {
    height: 200px;
    margin-bottom: 50px;
  }

  form {
    width: 80%;
    font-size: 12px;
  }
  .btn-form {
    font-size: 12px;
    width: 100px;
  }
  #productColors {
    display: flex;
  }

  .catalogue {
    padding: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .card-name {
    text-align: center;
  }
  .card-link .card {
    width: 7em;
    height: 7em;
  }
  #productName {
    padding: 0px 0px 50px 0px;
  }
}

@media (min-width: 320px) and (max-width: 749px) {
  body {
    overflow-x: hidden;
  }

  body p {
    font-size: 1rem;
    font-weight: 300;
  }
  body h1 {
    font-size: 3rem;
  }
  body h2 {
    font-size: 1.25rem;
  }
  body h3 {
    font-size: 1.25rem;
  }
  body ul {
    font-size: 1rem;
  }
  main {
    padding: 0px;
  }
  .block-page {
    overflow: hidden;
  }
  .menu-nav .item {
    font-size: 1.15em;
  }
  .title.main-title.hero {
    font-size: 3rem;
    margin-bottom: 100px;
  }

  .about {
    flex-direction: column;
    margin-top: 10rem;
  }
  .about * {
    text-align: center;
    width: 100%;
  }
  .about-text {
    padding: 20px;

    height: 300px;
  }
  .about-text p {
    text-align: justify;
  }
  .about-img .gradient {
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #0a4a85);
  }
  .about-img {
    height: 300px;
  }
  .mission {
    margin-top: 10rem;
    flex-direction: column;
    width: 100%;
    padding: 0px;
  }
  .object {
    display: flex;
    width: 100%;
    height: 100px;
  }
  .row.selected .arrow {
    display: none;
  }
  .arrow {
    display: none;
  }
  .mission-text {
    width: 100%;
    height: 300px;
    padding: 20px;
  }
  .item-nav {
    display: inline;
    margin: 0px;
  }
  .navbar {
    display: none;
  }
  .menu-nav {
    position: absolute;
    top: 75px;
    z-index: 1;
    height: 100%;
    cursor: pointer;
  }
  .menu-nav ul {
    list-style-type: none;
    margin-right: 20px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .item {
    padding-bottom: 10px;
  }
  .close {
    display: none;
  }
  .open {
    display: block;
  }
  h2.main-title {
    font-size: 2.5rem;
  }
  .card {
    width: 3.5em;
    height: 3.5em;
  }
  .container.products {
    flex-direction: column;
    gap: 0.5em;
    align-items: flex-start;
    padding: 10px;
  }
  .container.products .card-link {
    width: 100%;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
  }
  .card-name {
    width: 50%;
    text-align: center;
  }
  .search-input:focus {
    outline: none;
    border-color: #044d91;
    box-shadow: 0 0 0 2px #044d91;
  }
  .faq {
    flex-direction: column;
    width: 100%;
  }
  .addresses {
    width: 100%;
  }
  .faq form {
    width: 100%;
  }
  .catalogue {
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    gap: 5px;
  }
  .search-form {
    width: 100%;
    gap: 5px;
  }
  .search-form .search-input {
    width: 90%;
  }

  .container.product {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }
  .product-description {
    width: 100%;
    align-items: flex-start;

    gap: 10px;
  }
  .product-description li {
    text-align: left;
    list-style-type: none;
  }
  #productName {
    width: 80%;
    font-size: 2.5em;
    text-align: left;
  }
  #productColors {
    text-align: left;
    justify-content: flex-start;
    margin: 10px;
  }
  .prod-image {
    width: 70%;
  }
  hr {
    width: 80%;
  }
}
