@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
/* configurações gerais */

* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
}
body {
  margin: 0px;

  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
main {
  flex: 1;
  align-items: center;
}
/*header e footer*/
.page {
  background-color: #044d91;
  display: flex;

  padding: 20px;
}
/* footer */
.footer {
  padding-top: 100px;
  background: linear-gradient(to top, #044d91, white 100%);
  flex-direction: column;
  color: white;
  width: 100%;
}
.footer .item {
  color: white;
  margin: 20px;
}
/* header */
.header {
  width: 100%;
  align-items: center;
}
/* itens do header e footer */
.page .item {
  font-family: "Inter";
  color: white;

  text-decoration: none;
}
/* links do header */
.header .item {
  font-size: 1.5rem;
  padding: 10px;
  padding-bottom: 40px;
}
/* navbar */
.navbar {
  width: 50%;
}
.navbar .item {
  transition: font-size 0.5s;
}
.navbar li {
  display: inline-block;
  transition: display 0.5s;
}
.navbar a:hover {
  font-size: 2rem;
}
.navbar ul {
  height: 100%;
  list-style-type: none;
}
/* aspectos visuais */
.object-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 100%;
  color: white;
  font-family: "Inter";
}
.mission-text {
  width: 50%;
  background-color: #0a457a;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px;
}

.mission * {
  color: white;
  font-family: "Inter";
}

.arrow {
  font-size: 40px;
  cursor: pointer;
  justify-self: flex-end;
  cursor: pointer;
  grid-column-start: 5;
}
.icon {
  font-size: 25px;
}

.logo {
  margin: 10px;
  width: 200px;
  height: 50px;
}
.title {
  font-family: "Noto Serif";
}
.main-title {
  font-weight: 200;
  font-size: 5rem;
}
.text-container * {
  padding-left: 500px;
}
.mission h2 {
  grid-column-start: 3;
  cursor: pointer;
}
/* contact */
hr {
  width: 1000px;
  margin: 3rem;
}
/* sections */
.about {
  display: flex;
  width: 100%;
  justify-content: center;
  min-height: 600px;
  padding: 70px;
}
/* divs */
.row {
  grid-template-rows: 1fr;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  height: 100%;
  place-items: center;
}
.selected {
  background-color: #0a457a;
}
.row:hover {
  background-color: #0a457a;
}
.object .row {
  transition: background-color, 1s;
}
.object {
  display: grid;

  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;
  width: 50%;
  background-color: #1d7fda;
}
.mission {
  display: flex;
  width: 100%;
  padding: 70px;
  justify-content: space-around;
}

.about-img {
  position: relative;
  width: 50%;
  background-image: url("../images/sunset-rice-farm-field-thailand.jpg");
  background-size: cover;
  background-position: center;
  align-items: center;
  padding-left: 40px;
  color: white;
  font-size: 2rem;
}
.about-img .gradient {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #0a4a85);
}
.about-text {
  width: 50%;
  background-color: #0a4a85;
  color: white;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.faq {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  margin: 1em;
  gap: 50px;
}

form {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.mapa {
  width: 100%;
  height: 200px;
}
.addresses {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.inp-form {
  font-family: "Inter";
  padding: 10px;
  margin: 0px;
  width: 100%;
  border: 1px solid;
  border-radius: 8px;
  transition:
    border-color,
    box-shadow 0.2s;
  font-size: inherit;
}
.message {
  min-height: 10rem;
}
.faq input:hover,
.faq input:focus,
.faq textarea:hover,
.faq textarea:focus {
  outline: none;
  border-color: #044d91;
  box-shadow: 0 0 0 3px #044d91;
}
form label {
  align-self: flex-start;
  font-family: "Inter";
  font-size: larger;
  font-weight: 600;
}
.btn-form {
  cursor: pointer;
  width: 100%;
  border: none;
  border-radius: 8px;
  padding: 10px;
  border: white solid 2px;
  background-color: #044d91;
  color: white;
  font-family: "Inter";
  font-weight: 600;
}

.dropdown-menu {
  position: absolute;
  display: none;
  background-color: rgb(181, 184, 201);
}

.dropdown-menu {
  margin-top: 30px;
}
.dropdown-menu a {
  display: block;
}
.dropdown:hover .dropdown-menu {
  display: block;
  transition: display 0.3s;
}
