/* CONFIGURAÇÕES GERAIS */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  background-color: #044d91;
}
body {
  margin: 0px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
main {
  background-color: white;
  flex: 1;
  align-items: center;
}

/* HEADER E FOOTER */
.page {
  background-color: #044d91;
  display: flex;

  padding: 20px;
}

.footer {
  padding-top: 100px;
  background: linear-gradient(to top, #044d91, white 100%);
  flex-direction: column;
  color: white;
  width: 100%;
}
.footer .item {
  color: white;
  margin: 20px;
}

.header {
  width: 100%;
  align-items: center;
}

.page .item {
  font-family: "Inter";
  color: white;

  text-decoration: none;
}

.header .item {
  font-size: 1.5rem;
  padding: 10px;
  padding-bottom: 40px;
}

/* NAVBAR MOBILE */
.menu-nav {
  display: none;
}
/* NAVBAR */
.navbar {
  width: 100%;
}
.navbar .item {
  transition: font-size 0.5s;
}
.navbar li {
  display: inline-block;
  transition: display 0.5s;
}
.navbar a:hover {
  font-size: 2rem;
}
.navbar ul {
  height: 100%;
  list-style-type: none;
}
.copyright {
  align-self: flex-start;
}
/* =======================
   MISSÃO / VISÃO / VALORES
======================= */
.mission {
  display: flex;
  width: 100%;
  height: 400px; /* altura fixa */
  padding: 70px;
  justify-content: space-around;
}

.mission * {
  font-family: "Inter";
  color: white;
  margin: 0px;
}

/* BOTÕES */
.object {
  display: grid;

  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;
  width: 50%;
  background-color: #1d7fda;
}
.row {
  grid-template-rows: 1fr;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  height: 100%;
  place-items: center;
}
.row:hover {
  background-color: #0a457a;
}
.object .row {
  transition: background-color, 1s;
}
.object .row.selected {
  background-color: #0a457a;
}
.mission h2 {
  grid-column-start: 3;
  cursor: pointer;
}
.arrow {
  font-size: 40px;

  cursor: pointer;
  grid-column-start: 5;
}

/* TEXTOS */
.mission-text {
  width: 50%;
  height: 100%;
  background-color: #0a457a;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Conteúdo das abas */
.mission-text .content {
  display: none;
  pointer-events: none;
}
.mission-text .content.selected {
  display: block;
  pointer-events: auto;
  animation: fade 0.3s ease-in-out;
}

/* Animação  */
@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* TITULOS /LOGO */
.logo {
  margin: 10px;
  width: 200px;
  height: 50px;
}
.title {
  font-family: "Noto Serif";
}
.title.main-title {
  margin-top: 200px;
  margin-bottom: 200px;
}
h1.main-title {
  font-weight: 200;
  font-size: 5rem;
}
h2.main-title {
  font-size: 4rem;
  font-weight: 150;
}

/* about */

.about {
  display: flex;
  width: 100%;
  justify-content: center;
  min-height: 600px;
  padding: 70px;
}
.content {
  display: none;
}
.about-img {
  position: relative;
  width: 50%;
  background-image: url("../images/sunset-rice-farm-field-thailand.jpg");
  background-size: cover;
  background-position: center;
  align-items: center;
  padding-left: 40px;
  color: white;
  font-size: 2rem;
}
.about-img .gradient {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #0a4a85);
}
.about-text {
  width: 50%;
  background-color: #0a4a85;
  color: white;
  padding: 60px;
  display: flex;
  font-family: "Inter";
  flex-direction: column;
  justify-content: center;
}

/* FORM/FAQ */
.container {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.faq {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1em;
  gap: 50px;
}
form {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
form label {
  align-self: flex-start;
  font-family: "Inter";
  font-size: larger;
  font-weight: 600;
}

.inp-form {
  font-family: "Inter";
  padding: 10px;
  margin: 0px;
  width: 100%;
  border: 1px solid;
  border-radius: 8px;
  transition:
    border-color,
    box-shadow 0.2s;
  font-size: inherit;
}
.message {
  min-height: 10rem;
}
.faq input:hover,
.faq input:focus,
.faq textarea:hover,
.faq textarea:focus {
  outline: none;
  border-color: #044d91;
  box-shadow: 0 0 0 3px #044d91;
}
.btn-form {
  cursor: pointer;
  width: 100%;
  border: none;
  border-radius: 8px;
  padding: 10px;
  border: white solid 2px;
  background-color: #044d91;
  color: white;
  font-family: "Inter";
  font-weight: 600;
}
.addresses {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.mapa {
  width: 100%;
  height: 200px;
}

/* DROPDOWN */
.item-nav {
  display: none;
}
.dropdown-menu {
  position: absolute;
  left: 0;
  font-size: 1em;
  width: 100%;
  display: none;
  background-color: rgb(181, 184, 201);
}

.dropdown-menu {
  margin-top: 30px;
}
.dropdown-menu a {
  display: block;
}
.dropdown:hover .dropdown-menu {
  display: block;
  transition: display 0.3s;
}

/* Produtos */
.container.products {
  display: flex;
  flex-direction: row;
  gap: 10em;
}

/* clientes */

.clients {
  width: 1000px;
  margin: 40px auto;
  overflow: hidden;
}
.carousel-track {
  display: flex;
  gap: 1.5rem;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.carousel-track:hover {
  animation-play-state: paused;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
/* cartões */
.card {
  height: 5em;
  width: 5em;
  padding: 1em;

  background-color: aqua;
  font-size: 3rem;
  text-align: center;
  transition:
    width 0.3s,
    height 0.3s;
  align-content: center;
}
.products .card:hover {
  width: 6em;
  height: 6em;
  transition:
    width 0.3s,
    height 0.3s;
}
hr {
  width: 1000px;
  margin: 3rem;
}

/* pesquisa */
.search-form {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.search-input {
  border: 2px solid #9fa0a1;
  padding: 5px;
  border-radius: 10px;
}
.search-form .search-input:focus {
  outline: none;
  border-color: #044d91;
  box-shadow: 0 0 0 2px #044d91;
}
.search-form .search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

/*CATALOGO*/

.catalogue {
  padding: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card-name {
  margin-top: auto;
}
.catalogue .card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  margin-bottom: 20px;
  transition: transform 0.2s ease;
}

.catalogue .card.selected {
  grid-area: span 2 / span 3;
  background-color: #044d91;
}
.card.selected .card-name {
  display: none;
}
.card.selected {
  width: 50%;
  height: auto;
}
/* MEDIA QUERIES */
@media screen and (max-width: 1250px) {
  html,
  body {
    overflow-x: hidden;
  }
  body p {
    font-size: 8px;
  }
  body h1 {
    font-size: 20px;
  }
  body h2 {
    font-size: 16px;
  }
  .logo {
    width: 110px;
    height: 30px;
  }
  .title.main-title {
    font-size: 2rem;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .navbar {
    width: 100%;
    font-size: 2em;
  }
  .footer {
    width: 100%;
  }
  hr {
    width: 80%;
  }
  .faq {
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 2em;
    padding: 20px;
  }
  .addresses {
    width: 100%;
    margin-top: 30px;
  }
  .mapa {
    height: 300px;
  }

  .copyright {
    align-self: flex-start;
    font-size: 1em;
  }
  .navbar {
    display: none;
  }
  .menu-nav.open {
    display: block;
    height: 100%;
  }

  .block-page {
    overflow: hidden;
  }
  .menu-nav .item {
    font-size: 18px;
  }
  .menu-nav {
    position: absolute;
    top: 60px;
    z-index: 1;

    cursor: pointer;
  }
  .perfil-section {
    margin-left: 20px;
  }
  .menu-nav ul {
    list-style-type: none;
    margin-right: 20px;
  }
  .item-nav {
    display: inline;
    margin: 0px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .item {
    padding-bottom: 10px;
  }
  .about-img {
    height: 300px;
  }
  .about-text {
    padding: 10px;
    box-sizing: border-box;
    height: 300px;
    min-height: auto;
  }
  .about-text p {
    font-size: 8px;
  }
  .about-text h2 {
    font-size: 16px;
  }
  .about {
    height: 300px;
    padding: 40px;
    min-height: fit-content;
  }
  .container .main-title {
    font-size: 20px;
  }
  .content {
    font-size: 8px;
  }
  .row h2 {
    font-size: 12px;
  }
  .arrow {
    font-size: 14px;
  }
  .mission {
    padding: 40px;
  }
  .mission-text {
    padding: 20px;
  }
  .content ul {
    padding: 10px;
  }

  .container.products {
    gap: 0.5em;
  }
  .card {
    height: 3em;
    width: 3em;
    font-size: 2rem;
  }

  .container.clients {
    width: 100%;
    overflow: hidden;
  }
  .ctt * {
    font-size: 18px;
  }
  .mapa {
    height: 200px;
    margin-bottom: 50px;
  }
  footer .container .main-title {
    font-size: 36px;
    color: #989898;
  }
  form {
    width: 80%;
    font-size: 12px;
  }
  .btn-form {
    font-size: 12px;
    width: 100px;
  }
}
